/* Presentational style rules only
 * Not required
 */

html, body, .container {
  height: 100%;
}

/* Reset */
html, body, h1, p, a, div, section {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}

/* Basic */
body {
  font: 18px/23px "NotoSansCJKkr", sans-serif;
  color: #ffffff;

}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 10px;
}

h2 {
  font-weight: 140;
  font-size: 30px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 6px;
}

h3 {
  font-size: 50px;
  line-height: 50px;
  margin-top: 20px;
}

h4 {
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
}

strong {
  font-weight: 500;
}

/* Layout */


.inline {
  display: inline;
}

.container {
  display: table;
  width: 100%;
}

.content {
  display: table-cell;
  padding-left: 48px;
  padding-bottom: 88px;
  vertical-align: bottom;
  text-align: left;
}


#more-content {
  display: none;
}
